*.exe
*.log
Chip_Designer/_xmsgs/
Chip_Designer/isim/
Chip_Designer/xst/
iseconfig/

*.rar
*.gise
*.jhd
*.xmsgs
*.bgn
*.bld
*.cmd_log
*.drc
*.lso
*.ncd
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.xpi
*.xwbt
*.html
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.xml
*.log
*.xbcd
*.ref
*.vho
*.lst
*.xreport
*.projectmgr
*.vdbl
*.vdbx
*.schlog
*.cmd
*.vhf
*.xst